:root {
  --backgroundcolor: #f8ca9d5e;
}
body {
  background: url('./back.png');
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}
.spring__wrapper {
}
h4 {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 50px;
  text-align: center;
  background: linear-gradient(to right, pink, blue);
}
.logo {
  position: absolute;
  top: 0;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  left: 3vw;
}
.video {
  display: block;
  margin: 0 auto;
  width: 50vw;
  height: 377px;
  position: relative;
}
iframe {
  width: 100%;
  height: 100%;
}
.black {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 40px;
  object-fit: cover;
  background: black;
  bottom: 0;
  left: 0;
}
.white {
  font-family: 'Zen Kurenaido', sans-serif;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 60px;
  background: black;
  color: white;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product {
  margin-top: 40px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product .product__item {
  width: 25%;
  object-fit: cover;
}

/* resnponsive */

@media (max-width: 480px) {
  .video {
    display: block;
    margin: 0 auto;
    width: 98vw;
    height: 70vh;
    position: relative;
  }
  .logo {
    position: relative;
    width: 50vw;
    height: 50vw;
    display: block;
    margin: 0 auto;
  }
}
