h4 {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 50px;
  text-align: center;
  background: linear-gradient(to right, pink, blue);
}
.video {
  display: block;
  margin: 0 auto;
  width: 50vw;
  height: 70vh;
  position: relative;
}
iframe {
  width: 100%;
  height: 100%;
}
.black {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 40px;
  object-fit: cover;
  background: white;
  bottom: 0;
  left: 0;
}
.white {
  font-family: 'Zen Kurenaido', sans-serif;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 60px;
  background: black;
  color: white;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* resnponsive */

@media (max-width: 480px) {
  .video {
    display: block;
    margin: 0 auto;
    width: 98vw;
    height: 70vh;
    position: relative;
  }
}
